.hero{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.ctg{
    display: flex;
    font-size: 25px;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.count{
    color: #FFA500;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 30px;
}
.cities{
    color: #FFA500;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 30px;
}
.hero h1{
    padding-top: 40px;
    font-size: 65px;
    font-weight: 700;
    color: white;
    width: 700px;
    margin: auto;
}

